---
layout: screen
---
{% for slide in site.slides %}
          {{slide.output}}
{% endfor %}
        <section>

          <div class="spacer"></div>
          <div class="spacer"></div>

          <h3 class="uppercase blue">Branching</h3><br />

          <section>
            <div class="meta big_meta gold">Same repo, different branch:</div>
            <div class="extra_small_meta white">
              Develop different code from the same base.
            </div>
            <div class="spacer small_spacer"></div>

            <div class="meta big_meta gold">The master branch is left alone:</div>
            <div class="extra_small_meta white">
              Conduct exploratory work without affecting the work on "master" branch.
            </div>

            <div class="spacer small_spacer"></div>

            <div class="meta big_meta gold">Use the branch when you're ready:</div>
            <div class="extra_small_meta white">
              Incorporate changes to your master branch only when you are ready.
            </div>
          </section>

          <section>
            <div class="meta big_meta white">Branch:</div>
            <div class="meta extra_small_meta gold">A parallel version of a repo.</div>
            <div class="spacer small_spacer"></div>
            <div class="meta big_meta white">The "master" branch:</div>
            <div class="meta extra_small_meta gold">This is Git's default branch for all repositories.</div>
          </section>

          <section>

            <div class="spacer"></div>
            <div class="spacer"></div>

            <img src="branching.png">

          </section>

          <section>
            <div class="meta big_meta white">Create a new branch:</div>
            <div class="meta extra_small_meta gold">Call it "version2"</div>
            <pre><span class="terminal_prompt">$ </span>git checkout -b version2</pre>
          </section>

          <section>
            <div class="meta big_meta white">Go make some changes to hello_world.txt.</div>
            <div class="meta extra_small_meta gold">Add a line of text like "testing out these really cool branches!"</div>
          </section>

          <section>
            <div class="meta big_meta white">Stage and commit the change:</div>
            <pre><span class="terminal_prompt">$ </span>git add hello_world.txt</pre>
            <pre><span class="terminal_prompt">$ </span>git commit -m "Adding changes to version 2."</pre>
          </section>

          <section>
            <div class="meta big_meta gold">SWITCHING BRANCHES</div>
            <div class="meta extra_small_meta white">You may need to bounce around from branch to branch.</div>
          </section>

          <section>
            <div class="meta big_meta white">See all branches for the current repository.</div>
            <div class="meta extra_small_meta gold">The branch with the * is the active branch.</div>
            <pre><span class="terminal_prompt">$ </span>git branch</pre>
          </section>

          <section>
            <div class="meta big_meta white">Switch back to master.</div>
            <div class="meta extra_small_meta gold">What does hello_world.txt look like?</div>
            <pre><span class="terminal_prompt">$ </span>git checkout master</pre>
          </section>


          <section>
            <div class="meta big_meta white">Switch back to version2.</div>
            <div class="meta extra_small_meta gold">What does hello_world.txt look like now?</div>
            <pre><span class="terminal_prompt">$ </span>git checkout version2</pre>
          </section>

          <section>
            <h3 class="white">Pretty neat, right?</h3><br />
            <div class="meta big_meta blue">But how do you <i>combine</i> the branches?</div>
          </section>

        </section>

        <section>

          <div class="spacer"></div>
          <div class="spacer"></div>

          <h3 class="uppercase blue">Merging</h3><br />

          <section>
            <div class="meta big_meta white"><i>Merge</i> to get changes from one branch to another:</div>
            <div class="small_meta gold">
              Collaboration at its best!
            </div>
          </section>

          <section>

            <div class="spacer"></div>

            <div class="meta big_meta white">Switch to master:</div>
            <pre><span class="terminal_prompt">$ </span>git checkout master</pre>

            <div class="fragment">

              <div class="meta big_meta white">Merge with version2:</div>
              <pre><span class="terminal_prompt">$ </span>git merge version2</pre>

              <div class="meta extra_small_meta gold">
                "rebase" is another option, but for the sake of time, it won't be covered in this workshop.
              </div>
            </div>

          </section>

          <section>

            <div class="meta big_meta white">There will be conflicts.</div>
            <div class="meta big_meta gold">Git is pretty smart, but sometimes it won't know exactly how to merge your branches.</div>

          </section>

          <section>
            <div class="spacer"></div><br />

            <div class="meta big_meta white">For example...</div>

            <div class="spacer small_spacer"></div>

            <div class="col with_border">
              <div class="meta extra_small_meta gold">(version-2-branch) history.txt:</div>
              <div class="spacer small_spacer"></div>

              <div class="meta extra_small_meta white monaco_font">
                1. GDI was founded in <span class="pink">2010</span>.<br />
                2. GDI is in 45 US cities.
              </div>
              <div class="spacer small_spacer"></div>

            </div>

            <div class="col with_border">
              <div class="meta extra_small_meta gold">(version-3-branch) history.txt:</div>
              <div class="spacer small_spacer"></div>

              <div class="meta extra_small_meta white monaco_font">
                1. GDI was founded in <span class="pink">2008</span>.<br />
                2. GDI is in 45 US cities.
              </div>
              <div class="spacer small_spacer"></div>

            </div>

            <div style="clear:both;"></div>

            <div class="spacer"></div>

            <div class="fragment">
              <div class="meta big_meta white">Git will make you <i class="blue">resolve</i> this conflict before the merge can happen.</div>
            </div>

          </section>

          <section>

            <div class="spacer big_spacer"></div>

            <div class="meta big_meta white">Make sure you're in master:</div>
            <pre><span class="terminal_prompt">$ </span>git checkout master</pre>

            <div class="spacer small_spacer"></div>

            <div class="fragment">
              <div class="meta big_meta white">Change the first line of hello_world.txt.</div>
              <div class="meta extra_small_meta gold">We're going to create a conflict with this line.</div>
            </div>

            <div class="spacer small_spacer"></div>


            <div class="fragment">
              <div class="meta big_meta white">Stage and commit this change:</div>
              <pre><span class="terminal_prompt">$ </span>git add hello_world.txt</pre>
	      <pre><span class="terminal_prompt">$ </span>git commit -m "Changing the first line of hello_world.txt in master."</pre>
            </div>

          </section>

          <section>

            <div class="spacer big_spacer"></div>


            <div class="meta big_meta white">Switch to version2:</div>
            <pre><span class="terminal_prompt">$ </span>git checkout version2</pre>

            <div class="spacer small_spacer"></div>

            <div class="fragment">
              <div class="meta big_meta white">Change the first line of hello_world.txt.</div>
              <div class="meta extra_small_meta gold">Make it something different than in the previous step.</div>
            </div>

            <div class="spacer small_spacer"></div>

            <div class="fragment">

              <div class="meta big_meta white">Stage and commit this change:</div>
              <pre><span class="terminal_prompt">$ </span>git add hello_world.txt
<span class="terminal_prompt">$ </span>git commit -m "Changing the first line of hello_world.txt in version2."</pre>

            </div>



          </section>

          <section>

            <div class="spacer small_spacer"></div>

            <div class="meta big_meta white">Merge from master into version2:</div>
            <pre><span class="terminal_prompt">$ </span>git merge master</pre>

            <div class="spacer small_spacer"></div>

            <div class="fragment">
              <div class="meta big_meta white">You should see something like:</div>
              <pre><span class="terminal_output">CONFLICT (content): Merge conflict in hello_world.txt</span></pre>
            </div>

          </section>

          <section>
            <div class="spacer big_spacer"></div>

            <div class="meta big_meta gold">Solving conflicts:</div>
            <div class="spacer small_spacer"></div>

            <div class="fragment">
              <div class="meta small_meta blue">Where are the conflicts?</div>
              <div class="meta extra_small_meta white">
                When you open hello_world.txt, you'll see both changes. Git adds <i class="pink">conflict markers</i> to the areas it couldn't resolve.
              </div>
            </div>


            <div class="spacer small_spacer"></div>

            <div class="fragment">
              <div class="meta small_meta blue">How do you fix them?</div>
              <div class="meta extra_small_meta white">
                Delete Git's <i class="pink">conflict markers</i> and make the appropriate change. You decided which line is correct, or you can even add a whole new line. Make this file look
                exactly like you want it.
              </div>
            </div>

            <div class="spacer small_spacer"></div>

            <div class="fragment">

              <div class="meta small_meta blue">Be on your way:</div>
              <pre><span class="terminal_prompt">$ </span>git add hello_world.txt
<span class="terminal_prompt">$ </span>git commit -m "Fixing the first line of hello_world.txt in master."</pre>

            </div>

          </section>

        </section>

        <section>
          <h3 class="uppercase blue">Let's get Social.</h3>
        </section>

        <section>
          <h3 class="uppercase blue">GitHub</h3>
          <div class="spacer small_spacer"></div>
          <div id="github_bg"><img src="github.png"></div>
          <div class="spacer small_spacer"></div>
          <div class="fragment meta small_meta white">Launched in <span class="pink">2008</span>.</div>
          <div class="fragment meta small_meta white">Leader in <span class="pink">social coding</span>.</div>
          <div class="fragment meta small_meta white">GitHub is a commercial site that allows users to host Git repositories publicly and privately.</div>
          <div class="fragment meta small_meta white"><span class="pink">Open source projects</span> host or mirror their repos on GitHub.</div>
          <div class="fragment meta small_meta white">Post your own code for others to use or contribute to.</div>
        </section>

        <section>

          <div class="spacer"></div>
          <h3 class="uppercase blue">Your first GitHub Repo</h3>

          <section>
            <div class="spacer small_spacer"></div>
            <img src="new_github_repo.png">
          </section>

          <section>
            <div class="spacer"></div>
            <img src="new_repo_form.png" style="width:85%;margin-top:3.5em;">
          </section>

          <section>
            <div class="meta big_meta pink">README</div><br />
            <div class="meta small_meta white">
              "While a README isn't a required part of a GitHub repository, it is a very good idea to have one.<br />
              READMEs are a great place to describe your project or <br />add some documentation such as how to install<br />
              or use your project. You might want to include contact information - if your project becomes
              popular <br />people will want to help you out."
            </div>
          </section>
        </section>

        <section>

          <div class="spacer"></div>
          <div class="spacer"></div>

          <h3 class="uppercase blue">More Version Control Vocabulary</h3>

          <section></section>

          <section>

            <div class="spacer big_spacer"></div>

            <div class="meta big_meta gold">REMOTE</div>
            <div class="small_meta white">
              This is the version of a repository that is hosted on a server, like GitHub.
            </div>

          </section>

          <section>
            <div class="spacer big_spacer"></div>

            <div class="meta big_meta gold">FETCH</div>
            <div class="small_meta white">
              This is when you get the latest changes from an online repository <i>without</i> merging them in.
            </div>

            <div class="spacer"></div>

            <div class="meta big_meta gold">PULL</div>
            <div class="small_meta white">
              This step combines <i class="pink">fetching</i> and <i class="pink">merging</i> changes from a remote repository.
            </div><br />

          </section>

          <section>
            <div class="spacer big_spacer"></div>

            <div class="meta big_meta gold">PUSH</div>
            <div class="small_meta white">
              Sends your committed changes to a remote repository.
            </div>
          </section>

        </section>

        <section>
          <div class="spacer"></div>
          <h3 class="uppercase blue">Your first GitHub Repo</h3>

          <section>
            <div class="meta big_meta white">Because Git is <i class="pink">distributed</i>, you'll want to get a local copy of your GitHub repository. </div><br />

            <div class="spacer"></div>

            <div class="fragment">

              <div class="meta small_meta gold">Go back to your root directory and make a new directory:</div>
              <pre><span class="terminal_prompt">$ </span>cd ../
<span class="terminal_prompt">$ </span>mkdir hello_github
<span class="terminal_prompt">$ </span>cd hello_github</pre>
            </div>

          </section>

          <section>

            <div class="spacer small_spacer"></div>

            <div class="">
              <div class="meta small_meta white">Initialize with Git &amp; add a <i class="pink">remote:</i></div>
              <pre><span class="terminal_prompt">$ </span>git init
<span class="terminal_prompt">$ </span>git remote add origin git@<span class="terminal_action">github.com:username/NAME-OF-REPO</span></pre>
            </div>

            <div class="spacer small_spacer"></div>


            <div class="fragment">
              <div class="meta small_meta white"><i class="pink">Pull</i> changes from the origin remote, master branch and merge them to your local branch:</div>
              <pre><span class="terminal_prompt">$ </span>git pull origin master</pre>
            </div>

          </section>

          <section>

            <div class="">
              <div class="meta big_meta white">Open and edit the README file.</div>
              <div class="meta extra_small_meta gold">We're going to do this locally, then <i>push</i> the changes to our remote repo.</div>
            </div>

            <div class="spacer"></div>


            <div class="fragment">
              <div class="meta small_meta white">Stage, Commit &amp; push:</div>
	      <pre><span class="terminal_prompt">$ </span>git add README
<span class="terminal_prompt">$ </span>git commit -m "Updating readme file"
<span class="terminal_prompt">$ </span>git push origin master</pre>
	    </div>

	    <div class="spacer"></div>


	    <div class="fragment">
	      <div class="meta big_meta white">What does your README look like on GitHub?</div>
	    </div>

	  </section>

	</section>


	<section>

	  <div class="spacer"></div>
	  <h3 class="uppercase blue">Forking</h3>

	  <section>

	    <div class="meta big_meta white">There are millions of public repos on GitHub.</div>
	    <div class="spacer"></div>

	    <div class="meta big_meta white">If you want to <i class="pink">use</i> or <i class="pink">contribute</i> to <br />a repository, you can <i class="gold">fork</i> it.</div>

	  </section>

	  <section>

	    <div class="meta big_meta white">
	      This will make a personal copy of another user's repository that will live on your account. While you can work with it and make changes without affecting the original repository, it is still
	      attached, making it easy for you to <i class="pink">contribute</i> back to the original when you're ready.
	    </div>

	    <div class="spacer"></div>

	    <img src="fork.png">



	  </section>


	</section>

	<section>

	  <div class="spacer"></div>
	  <h3 class="uppercase blue">Pull Requests</h3>

	  <section>

	    <div class="meta big_meta white">After you fork and clone a repo, all pushed changes will go to <i>your</i> fork.</div>
	    <div class="spacer"></div>
	    <div class="meta small_meta gold">These changes will not affect the original repo.</div>

	  </section>

	  <section>

	    <div class="meta big_meta white">
	      If you want to get your changes to be incorporated in the original repo, you <br />can submit a <span class="gold">pull request.</span>
	    </div>

	    <div class="spacer"></div>

	    <img src="pull_request.png">

	  </section>

	</section>

	<section>

	  <h1 class="blue">Thanks for coming!</h1>

	  <h4 class="white">We want your feedback:</h4>
	  <h5 class="gold"><a href="https://tinyurl.com/gdiMpls">tinyurl.com/gdiMpls</a></h5>

	  <div class="spacer"></div>

	  <h4 class="white">Upcoming Classes:</h4>
	  {% for class in site.data.local.upcoming_classes %}
	  <h5>
	    <span class="white">{{class.date}}</span> :
	    <span><a class="gold" href="{{class.link}}">{{class.title}}</a></span>
	  </h5>
	  {% endfor %}


	</section>



