@font-face {
    font-family: "Gotham";
    src: local("Gotham"), url("fonts/Gotham/Gotham-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal; }

@font-face {
    font-family: "Gotham-Book";
    src: local("Gotham-Book"), url("fonts/Gotham/Gotham-Book.otf") format("opentype");
    font-weight: normal;
    font-style: normal; }

@font-face {
    font-family: "Gotham-Italic";
    src: local("Gotham-Italic"), url("fonts/Gotham/Gotham-MediumItalic.otf") format("opentype");
    font-weight: normal;
    font-style: italic; }

@font-face {
    font-family: "Gotham-Bold";
    src: local("Gotham-Bold"), url("fonts/Gotham/Gotham-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: bold; }


/* - - - Footer - - - */

#logistics {
    float:left;
    margin-left:660px;
    line-height:40px;
    font-size:18pt;
    color:#31648a;
}

#wifi_logistics {
    float:left;
    margin-left:230px;
    line-height:17px;
    font-size:13pt;
    color:#31648a;
    text-align:left;
}

#twitter {
    float:right;
    margin-right:100px;
    line-height:40px;
    font-size:18pt;
    color: #31648a;
}

#twitter img {
    display:inline-block;
    height:24px;
    margin-right:0.5em;
    margin-bottom:-0.25em;
}

.reveal footer {
    position: fixed;
    height: 40px;
    width: 100%;
    bottom: 0px;
    left: 0;
    z-index: 10;
    font-size: 35%;
    text-align:right;
    background:#eee url(img/pink-logo.png) no-repeat;
    padding:12px;
    background-size: auto 60%;
    background-position-y:center;
    background-position-x:2%;
    border-top:2px solid #444;
    padding-bottom:20px;
}

#gdi .left_align {
    text-align:left;
}


.reveal footer .copyright{
    margin:15px 5px 0 100px;
    font-style: italic;
}
.reveal footer .copyright a img{
    vertical-align: middle;
}

.slides, body {
    background-color:#2a4758;
    font-family:"Gotham-Bold", Impact, sans-serif;
}

#gdi .meta {
    color: #b3e3f1;
    font-family:"Gotham", Impact, sans-serif;
}

#gdi .blue {
    color: #b3e3f1 !important;
}

#gdi .gold {
    color: #ecbe6d !important;
}

#gdi .white {
    color:#fff !important;
}

#gdi .big_meta {
    font-size:28pt;
}

#gdi .small_meta {
    font-size:24pt;
    color: #ecbe6d;
}

#gdi .uppercase {
    text-transform: uppercase;
}

#gdi h1, #gdi h3, #gdi h4, #gdi h5 {
    margin:0;
    font-size:50pt;
    color:#Fff;
}

#gdi h5 {
    font-size:30pt;
}

#gdi h1 {
    font-size:65pt;
}

#gdi h4 {
    font-size:34pt;
    margin-top:0.5em;
}

#gdi .top_margin {
    margin:1.5em 0 0 0;
}


#gdi .shopping_list_wrapper {
    width:634px;
    margin:0 auto;
}


#gdi .shopping_list {
    border:1px solid #b3e3f1;
    padding:1em;
    color:#fff;
    text-align:left;
    float:left;
    margin:12px;
    height:100px;
    width:100px;
}

#gdi .strikethrough {
    text-decoration: line-through;
}

#gdi .spacer {
    display:block;
    height:50px;
}

#gdi .spacer.big_spacer {
    height:180px;
}

#gdi .pink {
    color:#FDD2D2 !important;
}

#gdi pre {
    background-color:#282828;
    color:#FDD2D2;
    font-size:14pt;
    font-family:"Monaco";
    padding:2.5%;
    border-radius:20px;
    box-shadow:0 0 5px rgba(50,50,50,0.8);
    margin:1em;
    text-align:left;
    line-height:1.25em;
}

#gdi pre.wide_pre {
    width:120%;
    margin-left:-14%;
}

#gdi pre .string, #gdi pre .terminal_action {
    color: #f3cf8f;
}

#gdi pre .comment {
    color:#bbb;
}

#gdi pre .terminal_output {
    color:#b3e3f1;
}

#gdi .extra_small_meta {
    font-size:15.5pt;
    margin:0.25em;
}

#gdi .col {
    float:left;
    width:50%;
}

#gdi .col.quarter_col {
    width:47%;
}

#gdi .col.three_quarters_col {
    width:53%;
}

#gdi .spacer.small_spacer {
    height:20px;
}

#gdi pre.centered_pre {
    text-align:center;
}

#gdi .monaco_font {
    font-family:"Monaco";
    text-align:left;
}

#gdi .col.with_border {
    width:45%;
    border:1px solid #fff;
    padding:1%;
    margin:1%;
    line-height:1.85em;
}

#github_bg {
    width:125px;
    height:125px;
    background-color:#fff;
    border-radius:170px;
    margin:0 auto;
}

#github_bg img {
    width:125px;
}